<h3>{{title}}</h3>
<ul>
    <li *ngFor="let taxhero of taxheroes | async" (click)="showTaxForm(taxhero)">{{taxhero.name}}</li>
</ul>
<div *ngIf='selectedTaxHero' class="tax-form">
    <div class="tax-form-content">
        <h3>{{selectedTaxHero.name}}</h3>
        <div>
            <label>Income:</label>
            <input [(ngModel)]="selectedTaxHero.income">
        </div>
        <label>Tax: {{selectedTaxHero.taxValue}}</label>
        <div>
            <button (click)="onSave()">Save</button>
            <button (click)="onCancel()">Cancel</button>
            <button (click)="onClose()">Close</button>
        </div>
    </div>
</div>