<h3>{{title}}</h3>
<ul>
    <li *ngFor="let taxHero of taxHeroes | async" (click)="showTaxForm(taxHero)">{{taxHero.name}}</li>
</ul>
<div *ngIf='selectedTaxHero' class="tax-form">
    <div class="tax-form-content">
        <h3>{{selectedTaxHeroReturn.hero.name}}</h3>
        <div>
            <label>Income:</label>
            <input [(ngModel)]="selectedTaxHeroReturn.income">
        </div>
        <label>Tax: {{selectedTaxHeroReturn.taxValue}}</label>
        <div>
            <button (click)="onSave()">Save</button>
            <button (click)="onCancel()">Cancel</button>
            <button (click)="onClose()">Close</button>
        </div>
    </div>
</div>